/* Color Theme Swatches in Hex */
.color-theme_FB_IMG_1723085523479-1-hex { color: #AEBABF; }
.color-theme_FB_IMG_1723085523479-2-hex { color: #8C8880; }
.color-theme_FB_IMG_1723085523479-3-hex { color: #594636; }
.color-theme_FB_IMG_1723085523479-4-hex { color: #260401; }
.color-theme_FB_IMG_1723085523479-5-hex { color: #0D0202; }

/* Color Theme Swatches in RGBA */
.color-theme_FB_IMG_1723085523479-1-rgba { color: rgba(174, 186, 191, 1); }
.color-theme_FB_IMG_1723085523479-2-rgba { color: rgba(140, 136, 128, 1); }
.color-theme_FB_IMG_1723085523479-3-rgba { color: rgba(89, 70, 54, 1); }
.color-theme_FB_IMG_1723085523479-4-rgba { color: rgba(38, 4, 1, 1); }
.color-theme_FB_IMG_1723085523479-5-rgba { color: rgba(13, 2, 2, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_FB_IMG_1723085523479-1-hsla { color: hsla(197, 11, 71, 1); }
.color-theme_FB_IMG_1723085523479-2-hsla { color: hsla(39, 4, 52, 1); }
.color-theme_FB_IMG_1723085523479-3-hsla { color: hsla(27, 24, 28, 1); }
.color-theme_FB_IMG_1723085523479-4-hsla { color: hsla(4, 94, 7, 1); }
.color-theme_FB_IMG_1723085523479-5-hsla { color: hsla(0, 73, 2, 1); }


/* Color Theme Swatches in Hex */
.tangerine-1-hex { color: #003547; }
.tangerine-2-hex { color: #005E54; }
.tangerine-3-hex { color: #C2BB00; }
.tangerine-4-hex { color: #E1523D; }
.tangerine-5-hex { color: #ED8B16; }

/* Color Theme Swatches in RGBA */
.tangerine-1-rgba { color: rgba(0, 52, 71, 1); }
.tangerine-2-rgba { color: rgba(0, 94, 83, 1); }
.tangerine-3-rgba { color: rgba(193, 186, 0, 1); }
.tangerine-4-rgba { color: rgba(225, 82, 61, 1); }
.tangerine-5-rgba { color: rgba(237, 139, 21, 1); }

/* Color Theme Swatches in HSLA */
.tangerine-1-hsla { color: hsla(195, 100, 14, 1); }
.tangerine-2-hsla { color: hsla(173, 100, 18, 1); }
.tangerine-3-hsla { color: hsla(57, 100, 38, 1); }
.tangerine-4-hsla { color: hsla(7, 73, 56, 1); }
.tangerine-5-hsla { color: hsla(32, 85, 50, 1); }
